* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Avenir Pro';
    src: url('../fonts/AvenirNextLTPro-It.woff') format('woff'), 
  }  
  @font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
  }  

  @font-face {
    font-family: "Avenir Bold";
    src: url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'); 
  }  

 @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
    opacity: 0;
  }

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes clientSlide {
    0% {
        transform: translateX(-163vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

::selection {
    background: #0085cb; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: #0085cb; /* Gecko Browsers */
    color: white;
  }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0085cb;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #006da8;
  }

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: #333;
  }
  
  /* Style navigation menu links */
  .topnav .a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

header {
    position: fixed;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0);
    z-index: 10;
    width: 100%;
}

.header {
    transition-duration: 1s;
    padding-top: 23px;
    padding-bottom: 23px;
}

header nav {
    animation: 2s slideRight;
}

.extrabutton {
    background-color: #0085cb;
    color: white !important;
    padding: 10px;
}

.extrabutton:hover {
    background-color: #006da8;
    transition-duration: 0.3s;
}

header #sixty a {
    text-decoration: none;
    font-family: "Avenir", serif;
    font-size: 15px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 25px;
}

header #sixty a:hover {
    color: #0085cb
}

nav {
    margin-left: -1.5vw;
}

#forty {
    flex: 3;
}

#sixty {
    flex: 7;
}

.social {
    color: white;
    padding-right: 15px;
}

p {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    font-family: "Avenir", serif;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Avenir Bold", serif;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Avenir Bold", serif;
}

a:hover {
    color: #0085cb;
    transition-duration: 0.3s;
}

button, input, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#navflex {
    padding-left: 10vw;
    padding-right: 10vw;
}

header #sixty {
    text-align: right;
    animation: 2s slideLeft;
}

.flexbox {
    display: flex;
}

.half {
    width: 50vw;   
}

#herologo {
    margin-left: -2vw;
}

#herotext {
    padding-right: 60%;
}

#hero {
    background-image: url("../images/hero-min.jpg");
    background-size: cover;
    overflow: hidden;
    padding-top: 25vh;
    padding-left: 10vw;
    color: white;
    background-position: right;
}

#hero p {
    padding-bottom: 20vh;
}

.arrowdiv {
    text-align: center;
}

#arrow {
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-bottom: 3vh;
    color: white;
}

#arrow:hover {
    color: #0085cb;
    transition: 0.3s;
}

#omoss {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#omossbild {
    background-color: #0C2D43;
    margin-left: 5%;
    padding: 15px;
}

#omosstext {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    height: 100%;
    margin-left: -10%;
    margin-top: 5%;
    padding:35px;
}

.blue {
    color: #0085cb;
    margin-top: 5px;
}

#agency {
    min-height: 75vh;
    margin: 0;
    
    background-color: #006398;
}

#agencyleft {
    text-align: right;
    min-height: 75vh;
    padding-top: 75px;
    padding-left: 275px;
    padding-right: 60px;
    padding-bottom: 50px;
    color: white;
}

#agencybackground {
    background-image: url(../images/1\ \(2\).jpg);
    background-size: cover;
    background-position: right;
    overflow: none;
    
}

#academy {
    min-height: 75vh;
    margin: 0;
    
    background-color: #ffffff;
}

#academyleft {
    min-height: 75vh;
    padding-top: 75px;
    padding-left: 60px;
    padding-right: 275px;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
}

#academybackground {
    background-image: url(../images/1\ \(3\).jpg);
    background-size: cover;
    background-position: right;
    overflow: none;
    padding: 50px;
    
    
}

#height100 {
    height: 100vh;
}

#clients {
    background-color: #004067;
    padding: 15px;
}

#clientstext {
    color: white;
    text-align: center;
    padding-top: -25px;
    padding-bottom: 75px;
    
}

#scroller {
    margin-top: -10vh;
    padding-bottom: 75px;
    width: 400vw;
    animation: 30s clientSlide;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    overflow: hidden;
}

.clientlogo {
    display: inline-block;
    width: 20vw;
    
}

.clientlogoreal {
    max-height: 100px;
    padding: 12px;
    max-width: 200px;
}

#timeline {
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
}

#timelinetext {
    color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    margin: 0;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0085cb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0%;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #006398;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #006398;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #006398;
    border-width: 10px 10px 10px 0;
    border-color: transparent #006398 transparent transparent;
  }
  
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #006398;
    color: white;
    position: relative;
    border-radius: 6px;
  }
  .content:hover {
    background-color: black;
    transition-duration: 1s;
  }
  .content:hover .parent {
    background-color: black;
    transition-duration: 1s;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

#gallery {
    background-color: rgb(230, 230, 230);
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 125px;
    margin-top: 50px;
}

#gallerytext {
    text-align: center;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}


#contact {
    margin-top: 75px;
    padding-top: 35px;
    margin-bottom: 175px;
    padding-left:150px;
    padding-right: 150px;
}

.padding {
    margin-right: 30px;
    margin-left: 30px;
}

.input {
    height: 30px;
    margin-bottom: 20px;
}  

#message {
    height: 150px;
    resize: none;
}

.button {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    height: 65px;
    background-color: #0085cb;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    text-shadow: none;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    transition: 0.3s;
    background-color: #006da8;
}

#contacttext {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: right;
}

#contactbild {
    background-color: rgb(0, 0, 0);
    height: 50%;
    padding: 35px;
    border-radius: 15px;
}

label {
    display: none;
}

input {
    margin-bottom: 15px;
    font-family: "Avenir Bold", serif;
    vertical-align: top;
    width: 100%;
    padding: 2.5%;
    transition: 0.3s;
    background-color: white ;
    text-transform: uppercase;
    font-size: 15px;
}

input:focus {
    background-color: rgb(219, 218, 218);
}

textarea {
    border: none;
    box-sizing: border-box;
    font-family: "Avenir Bold", serif;
    vertical-align: top;
    width: 100%;
    padding: 2.5%;
    transition: 0.3s;
    background-color: white ;
    text-transform: uppercase;
    font-size: 15px;
    outline: none;
}

textarea:focus {
    background-color: rgb(192, 192, 192);
}

input[type=submit] {
    margin-top: 2.5%;
    margin-bottom: 0;
    font-family: "Avenir Bold", serif;
    height: 50px;
    background-color: #0085cb;
    color: white;
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #006da8;
  }

  
footer {
    background-color: black;
    padding: 50px;
    color: white;
}

#footertext {
    text-align: center;
    color: white;
}

footer #middlefooter a {
    text-decoration: none;
    font-family: "Avenir", serif;
    font-size: 15px;
    color: white;
    font-size: 20px;
    padding: 10px;
}

footer #middlefooter a:hover {
    color: #0085cb;
    transition: 0.3s;
}

#center {
    text-align: center;
}

#uparrow {
    transition-duration: 1s;
    background-color: #006398;
    color: white;
    border-radius: 100%;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    opacity: 0; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

#uparrow:hover {
    background-color: #004067;
    transition-duration: 0.3s;
}

#footerlogo {
    padding-bottom: 15px;
}

#middlefooter {
    flex: 2;
    text-align: center;
}

#copyright p {
    text-align: right;
    
}

.inline {
    display: inline;
    padding-right: 4px;
}










@media screen and (max-width: 768px) {

    p {
        font-size: 15px;
        line-height: 25px;
    }  
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }

    header {
        width: 100vw;
        background-color: black;
    }
    header #sixty a {
        font-size: 15px;
        margin-left: 25px;
    }

    .topnav {
        display: block;
    }
    #navflex {
        display: none;
    }
}
